head
    link(rel="stylesheet", href="css/header.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/responsive.css")
    link(rel="stylesheet", href="css/footer.css")
    link(rel="stylesheet", href="css/brand.css")
    link(rel="stylesheet", href="css/size.css")
    link(rel="stylesheet", href="css/price.css")
    link(rel="stylesheet", href="css/login.css")

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")