header.header
  section.header__info
    strong
      a(href='') Hotline: +7111 222 3333
      address Products available at Store: Lensoveta-23, Saint-Peterburg
  .header__center
    section.header__logo
      img(src='images/logo2.jpg' alt='logo')
    section.header__form
      form.search-box(action='')
        input.search-text(type='text' placeholder='search product')
    section.header-login-register-cart
      #header-login.login
        a(href='/login') Login
      a(href='#') Register
      a(href='#') Cart
  nav.header__nav
    ul
      li
        a.nav_element-link(href='/') Home
      li
        a.nav_element-link(href='/price') All Price
      li
        a.nav_element-link(href='/size') Size Table
      li
        a.nav_element-link(href='/brand') Brand