head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='keywords' content='HTML, lab1, Web Programing')
  meta(name='author' content='Duong Thi Hue Linh')
  title Hl-Store
  block style 
    include shared/style.pug 
body
    block header
        include header/header.pug
    block content
    block footer
        include footer/footer.pug
    block script 
        include shared/script.pug