extend ../main.pug

append content
  main
    .page-title List brand
    .table__wrap
      table.table-brand
        thead.table__header
          tr.table__row
            th.table__cell.table__header__size-type.table__header--color Brand
            th.table__cell.table__header__size-type.table__header--color Amount
        tbody.table__body
          tr.table__row
            td.table__cell.table__product-brand Nike
            td.table__cell.table__product-amount 40
          tr.table__row
            td.table__cell.table__product-brand Van
            td.table__cell.table__product-amount 50
          tr.table__row
            td.table__cell.table__product-brand New balance
            td.table__cell.table__product-amount 60
          tr.table__row
            td.table__cell.table__product-brand Converse
            td.table__cell.table__product-amount 70
          tr.table__row
            td.table__cell.table__product-brand Balenciaga
            td.table__cell.table__product-amount 80
          tr.table__row
            td.table__cell.table__product-brand Adidas
            td.table__cell.table__product-amount 90
          tr.table__row
            td.table__cell.table__product-brand MLB
            td.table__cell.table__product-amount 100
          tr.table__row
            td.table__cell.table__product-brand Puma
            td.table__cell.table__product-amount 100