extends ../main.pug

append content
    main.form-content
        .wrapper
            form#form-login(action="/login", method="post")
                h1 Login
                .input-box
                    input#username(type='text', name='username', placeholder='Username', required='')
                .input-box
                    input#password(type='password', name='password', placeholder='Password', required='')
                .remember-forgot
                    label
                        input(type='checkbox')
                        | Remember me
                    a(href='') Forgot password?
                button.form-submit(type='submit') Login
                .register-link
                    p
                        | Don't have an account? 
                    a(href='') Register
