extend ../main.pug

append content
  main
    .page-title
      h1 price table
    .table__wrap
      table.table-price
        thead.table__header
          tr.table__row
            th.table__cell.table__header__price-type.table__header--color
              | name
            th.table__cell.table__header__price-type.table__header--color
              | brand
            th.table__cell.table__header__price-type.table__header--color
              | price
        tbody.table__body
          tr.table__row
            td.table__cell.table__product-name  Nike air force 1
            td.table__cell.table__product-brand  Nike
            td.table__cell.table__product-price  100$
          tr.table__row
            td.table__cell.table__product-name  Vans Old Skool Classic 
            td.table__cell.table__product-brand  Van
            td.table__cell.table__product-price  100$ 
          tr.table__row
            td.table__cell.table__product-name  New balance 547 grey blue
            td.table__cell.table__product-brand  New balance
            td.table__cell.table__product-price  100$
          tr.table__row
            td.table__cell.table__product-name  Converse Chuck 
            td.table__cell.table__product-brand  Converse
            td.table__cell.table__product-price  100$
          tr.table__row
            td.table__cell.table__product-name  Balenciaga Triple S
            td.table__cell.table__product-brand  Balenciaga
            td.table__cell.table__product-price  100$
          tr.table__row
            td.table__cell.table__product-name  Air Max 270
            td.table__cell.table__product-brand  Nike
            td.table__cell.table__product-price  100$
          tr.table__row
            td.table__cell.table__product-name  Adidas Ultra Boost
            td.table__cell.table__product-brand  Adidas
            td.table__cell.table__product-price  100$
          tr.table__row
            td.table__cell.table__product-name  MLB Big Ball Chunky
            td.table__cell.table__product-brand  MLB
            td.table__cell.table__product-price  100$