extend ../main.pug

append content
  main
    main
      .page-title
        h1 size table
      .table__wrap
        table.table
          thead.table__header
            tr.table__row
              th.table__cell.table__header__size-type.table__header--color
                | au//uk
              th.table__cell.table__header__size-type.table__header--color
                | us
              th.table__cell.table__header__size-type.table__header--color
                | eu
              th.table__cell.table__header__size-type.table__header--color
                | cm
          tbody.table__body
            tr.table__row
              td.table__cell.size-au-uk  2.5
              td.table__cell.size-us  4
              td.table__cell.size-eu  35
              td.table__cell.size-cm  21
            tr.table__row
              td.table__cell.size-au-uk  3.5
              td.table__cell.size-us  5
              td.table__cell.size-eu  36 
              td.table__cell.size-cm  22
            tr.table__row
              td.table__cell.size-au-uk 4.5
              td.table__cell.size-us  6
              td.table__cell.size-eu  37
              td.table__cell.size-cm  23
            tr.table__row
              td.table__cell.size-au-uk  5.5
              td.table__cell.size-us  7
              td.table__cell.size-eu  38
              td.table__cell.size-cm  24
            tr.table__row
              td.table__cell.size-au-uk  6.5
              td.table__cell.size-us  8
              td.table__cell.size-eu  39
              td.table__cell.size-cm  25
            tr.table__row
              td.table__cell.size-au-uk  7.5
              td.table__cell.size-us  9
              td.table__cell.size-eu  40
              td.table__cell.size-cm  26
            tr.table__row
              td.table__cell.size-au-uk  8.5
              td.table__cell.size-us  10
              td.table__cell.size-eu  40
              td.table__cell.size-cm  27
            tr.table__row
              td.table__cell.size-au-uk  9.5
              td.table__cell.size-us  111
              td.table__cell.size-eu  41
              td.table__cell.size-cm  28